@media only screen and (max-width: 1064px){
    .btn{
        white-space: normal;
    }
    .text-big{
        font-size: 25px;
    }
    .text-small{
        font-size: 13px;
    }
    .section img{
        width: 200px;
    }
}

@media only screen and (max-width: 891px){
    .nav{
        flex-direction: column;
        /* position: fixed; */
    }
    .navbar{
        flex-direction: column;
    }
    .navbar ul li{
        padding-top: 0px;
    }
    .right-nav{
        flex-direction: column;
    }
    .logo{
        margin-left: 0px;
    }
    .navbar{
        position: static;
    }
}

@media only screen and (max-width: 851px){
    .box-main{
        flex-direction: column-reverse;
    }
    .second-half img{
        margin: 30px 30px;
    }
    .text-small{
        padding-left: 50px;
    }
    .buttons{
        margin: 0px -30px;
    }
}

@media only screen and (max-width: 770px){
    .box-main{
        max-width: 100%;
    }
    .text-small{
        padding-left: 20px;
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px -128px;
    }
    .second-half img{
        margin: 35px 35px;
        width: 160px;
    }
    .section{
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .section img{
        width: 240px;
    }
    .sec-top{
        margin: 280px auto 0px auto;
    }
    .sec-left{
        margin: 450px auto 0px auto;

    }
    .sec-right{
        margin: 420px auto 0px auto;

    }
    .contact{
        margin: 185px auto 0px auto;
    }
    .about-sec{
        flex-direction: column;
    }
    .abt-div{
        margin-top: 200px;
        max-width: 95%;
    }
    .about-auth{
        margin-bottom: -150px;
    }
}

@media only screen and (max-width: 479px){
    .sec-top{
        margin: 290px auto 0px auto;
    }
    .sec-left{
        margin: 480px auto 0px auto;
    }
    .sec-right{
        margin: 460px auto 0px auto;
    }
    .contact{
        margin: 200px auto 0px auto;
    }
    .abt-div{
        margin-top: 300px;
        height: 70%;
    }
}
 
@media only screen and (max-width: 414px){
    .box-main{
        padding-top:100px;
        max-width: 100%;
    }
    .text-small{
        padding-left: 20px;
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px -130px;
    }
    .second-half img{
        margin: 35px 25px;
        width: 160px;
    }
    .para1{
        margin: 600px auto;
    }
    .section{
        margin: auto;
    }
    .sec-top{
        margin: 300px auto 0px auto;
    }
    .sec-left{
        margin: 490px auto 0px auto;

    }
    .sec-right{
        margin: 460px auto 0px auto;

    }
    .contact{
        margin: 150px auto 0px auto;
    }
} 
