@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");

* {
    margin: auto;
    padding: auto;
    scroll-behavior: smooth;
}

section {
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0; /* Ensures the navbar stretches fully from left to right */
    width: 100%;
    padding: 0 20px; /* Adds some padding on the sides for better spacing */
    height: auto; /* Adjusts height automatically to content */
    min-height: 60px; /* Ensures the navbar has a minimum height */
    z-index: 1000;
    /*background-color: rgba(0, 0, 0, 0.8); /* Example: semi-transparent white for light theme, can adjust opacity as needed */
    backdrop-filter: blur(10px); /* Provides a frosted glass effect, enhancing the transparent background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth and separation from the content below */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Smooth transitions for background changes, if any */
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.95); /* Slightly increases the opacity on hover for a subtle interactive effect */
}


.logo {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo img {
    width: 45px;
    margin: 10px;
    border: solid white;
    border-radius: 7px;
    transition-property: all;
    transition-duration: 0.5s;
}

.logo img:hover {
    width: 30px;
}

.nav-list {
    margin: auto 10px;
    display: flex;
    width: auto;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    font-family: "Comic Sans MS";
    list-style: none;
    padding: auto 10px;
    margin: auto 40px;
    transition-property: all;
    transition-duration: 1s;
}

.nav-list li:hover {
    font-size: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.right-nav {
    width: auto;
    margin: auto 20px;
    padding-right: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
}

#search {
    padding: 7px;
    margin: auto 10px;
    font-size: 13px;
    font-family: "Comic Sans MS";
    text-align: left;
    border-radius: 9px;
    border: 2px solid#AF40FF;
    height: 10px;
}


.btn-sm {
    margin: auto 20px;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 11px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 2px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.btn-sm:active,
.btn-sm:hover {
    outline: 0;
}

.btn-sm span {
    background-color: rgb(5, 6, 45);
    padding: 7px 13px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn-sm:hover span {
    background: none;
}

@media (min-width: 20px) {
    .btn-sm {
        font-size: 14px;
        min-width: 17px;
    }
}

.background {
    background: rgba(0, 0, 0, 0.5) url("../img/bg.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

body {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    /* scroll-behavior: smooth; */
}

.main-div {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.box-main {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin: auto;
}

.first-section {
    width: 100%;
    height: 770px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.first-half {
    padding: 20px;
    margin-right: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-half {
    width: 25%;
    padding: 20px;
    margin-left: 0px;
}

.second-half img {
    width: 15vw;
    min-width: 150px;
    margin: 30px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.btn {
    margin: 20px;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 11px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 2px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.xter span {
    height: auto;
}

.btn:active,
.btn:hover {
    outline: 0;
}

.btn span {
    background-color: rgb(5, 6, 45);
    padding: 7px 13px;
    border-radius: 6px;
    width: 100%;
    height: auto;
    transition: 300ms;
}

.btn:hover span {
    background: none;
}

@media (min-width: 20px) {
    .btn {
        font-size: 17px;
        min-width: 19px;
    }
}

.text-big {
    font-size: 30px;
    font-family: "Comic Sans MS";
    text-align: center;
}

.text-small {
    font-size: 17px;
    font-family: "Comic Sans MS";
    padding: 12px 12px;
    margin: 14px 14px;
    text-align: center;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 95%;
    margin: 70px auto;
}

.section img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 3px solid black; */
    border-radius: 7px;
    /* width: 15.625vw; */
    width: 240px;
    margin: 5px;
}

.sec-top {
    margin-top: 40px;
}

.sec-left {
    flex-direction: row-reverse;
    margin-bottom: 0px;
}

.sec-right {
    flex-direction: row;
    margin-bottom: 0px;
}

.thumbnail {
    margin: 30px;
}

.sec-tag {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 50px;
}

.paras {
    padding: 23px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 7px;
}

.about-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.abt-div {
    font-size: 23px;
    font-family: "Dancing Script", cursive;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 360px;
    padding: 10px auto 10px auto;
    width: 50%;
    background-color: rgb(27, 25, 25);
    margin: 30px;
    border-radius: 7px;
}

.abt-div h2 {
    padding-top: 40px;
}

.para-abt {
    margin: 35px;
    text-align: center;
}

.about-auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 310px;
    padding: 25px;
    width: 180px;
    background-color: rgb(27, 25, 25);
    margin: 30px;
    /* margin-bottom: 40px; */
    border-radius: 7px;
}

.oh-no {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.info p {
    text-align: center;
    margin: 10px auto 45px auto;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    color: white;
}

.image-auth img {
    height: 170px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 7px;
}

.git-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.contact {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.text-center {
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-us {
    font-size: 23px;
    font-family: "Dancing Script", cursive;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 350 px;
    padding: 30px;
    width: 35%;
    background-color: rgb(27, 25, 25);
    margin: 30px;
    margin-top: 110px;
    border-radius: 7px;
}

.input-tag {
    padding: 7px;
    font-size: 13px;
    font-family: "Comic Sans MS";
    border-radius: 9px;
    border: 2px solid#AF40FF;
    height: 10px;
    width: 70vw;
    max-width: 220px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#name {
    margin-top: 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: "Calibri";
    padding: 7px;
}
